body {
    background-color: black;
    color: white;
    font-family: "Nerko One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: blueviolet;
    color: white;
    font-family: "Nerko One", system-ui;

}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}